.banner {
    background: url("https://media.nomadicmatt.com/australiaguide.jpg");
    background-position: top;
    background-size: cover;
    color: #92BDA3;
    text-align: center;
    height: 320px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.3);
    font-size: 18px;
    font-weight: bolder;
}

.button {
    background-color: #BCAB79;
    padding: 8px 16px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 1px 1px rgba(255, 255, 255, 0.2);
}

.button:hover {
    background-color: #BCAB99;
    padding: 9px 17px;
}

.titles {
    padding: 10px;
}

.banner p {
    margin-bottom: 100px;
}